<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CrystalBoy.Emulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CrystalBoy.Emulator.Properties.Settings>
            <setting name="RenderMethod" serializeAs="String">
                <value>Direct3DRenderMethod</value>
            </setting>
            <setting name="RenderSize" serializeAs="String">
                <value>320, 288</value>
            </setting>
            <setting name="ZoomFactor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PluginAssemblies" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CrystalBoy.Emulation.Rendering.GdiPlus.dll</string>
                        <string>CrystalBoy.Emulation.Rendering.Direct3D.dll</string>
                        <string>CrystalBoy.Emulation.Rendering.SlimDX.dll</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LimitSpeed" serializeAs="String">
                <value>True</value>
            </setting>
        </CrystalBoy.Emulator.Properties.Settings>
    </userSettings>
</configuration>